* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
footer {
    background-color: rgb(29, 10, 64);
    color: rgb(104, 128, 149);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 1rem;
}
.footerItems {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 1rem;
}
.footerLink  {
    text-align: center;
    text-decoration: none;
    color: white;
}