.postsDivContainer {
    padding: 1rem;
}
.row {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.card {
    width: 400px;
    height: 420px;
    background-color: white;
    color: black;
    padding: 2rem;
    border-radius: 1rem;
}
.card-title {
    font-size: 2rem;
    padding-bottom: 0.5rem;
}
.servicesTitle2 {
    font-size: 3rem;
}